#journal-page {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-image: url('../srcImages/bg-sea.png');
    background-size: cover;

    #journal-reset-btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        background: none;
        border-radius: 16px;
        padding: 16px;
        align-self: flex-start;
        margin: 16px;
        background-color: white;
    
        img {
            width: 80px;
        }
    
        span {
            font-family: 'Balsamiq Sans';
            font-weight: 700;
            font-size: 20px;
        }
    }

    #journal-page-content {
        flex: 1;
        display: flex;
        justify-content: center;
    }
}
