$blue: #00d3e9;
$grape: #4b2b65;
$sunshine: #ffc96b;
$sand: #f7ede1;
$white: #ffffff;
$dark: #2d3436;
$dim-transparent: rgba(0, 0, 0, 0.75);

main {
    margin: 0;
    font-family: 'Balsamiq Sans';
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
    font-family: 'Balsamiq Sans';
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color:$blue;
  }
  
  .topnav a.active {
    background-color: $blue;
    color: white;
  }