.comic-view {
    position: relative;
    height: 100%;
    width: 100%;
    background-size: cover;

    .comic-view-sprite {
        position: absolute;

        &.flip-x {
            transform: scaleX(-1);
        }
    }
}