server {
    listen       ${PORT:-80};
    listen 443;
    ssl on;
    server_name  marinerescue.app;
    ssl_certificate /etc/ssl/fullchain.pem;
    ssl_certificate_key /etc/ssl/privkey.pem;
    server_tokens off;

    root /usr/share/nginx/html;
    index index.html;

    location / {
        try_files $$uri /index.html;
    }
}