@import '../../styles/breaks';
@import '../../styles/colors';

body, html {
    background-color: #006994;
    // background-image: url('bg-water.png');
    background-image: url('./sprites/bg-water.png');
    font-family: 'Balsamiq Sans';
}

p {
    font-size: 30px;
    padding: 30px;
}


.text-center {
    height: 100vh;
}

/* Game Screen */
#minimap {
    background-color: #F7EDE1;
    float: right;
    height: 100%;
    width: 25%;
}

#emphasis {
    color: #FF0000;
}

#obstacle {
    max-width: 300px;
    max-height: 175px;
    height: auto;
    width: auto;
}

#obstacle-log {
    max-width: 100px;
    max-height: 50px;
    height: auto;
    width: auto;
}

#obstacle img, #obstacle-log img {
    width: 100%;
}


/* Start Screen */
#start {
    // background-image: url('bg-wave-racing-cover.png');
    background-image: url('./sprites/bg-wave-racing-cover.png');

}

.jumbotron {
    background-color: #F7EDE1;
    border: 2, solid, black
}