.comic-view {
    position: relative;
    height: 100%;
    width: 100%;
    background-size: cover;
    overflow: hidden;

    // Allow transitions for sprites with IDs
    .comic-view-sprite {
        &[id] {
            transition: 250ms all;
        }
    }

    .comic-view-sprite {
        position: absolute;

        &.flip-x {
            transform: scaleX(-1);
        }
    }
}