@import '../styles/breaks';
@import '../styles/colors';

footer {
    background-color: $blue;
    text-align: center;
    padding-top: 60px;

    h3 {
        color: $grape;
    }
    
    .github-logo {
        width: 50%;
        height: auto;
    }

    .footer-logo {
        display: none;
    }

    .navbar-logo {
        display: none;
    }

    #title {
        color: $white;
    }

    @media (min-width: $break-small) {
        .footer-logo {
            display: initial;
            width: 45%;
            height: auto;
        }

        .navbar-logo {
            display: initial;
            margin-bottom: -5px;

            img {
                width: 50%;
                height: auto;
            }
        }

        #title {
            display: none;
        }
    }


    .row {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
    }
}